@import "./vars.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1110px;
    margin: 0 auto;
  }
  
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  .header-wrapper {
      background-color: var(--headbg-txt-main-imgbg-color);
  }

  .header {
      padding: 20px 0;
  }

  .logo-link {
    float: left;
    font-family: var(--title-font);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 30px; 
    color: var(--foot-name-logo-title-color);
  }

  .logo {
    font-family: var(--title-font);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 30px; 
    color: var(--foot-name-logo-title-color);
    font-weight: 400;
  }

  .logo:first-letter {
    color: var(--highlight-hover-color);
    font-weight: 600;
}

  .header-nav {
      float: right; 
  }

  .nav-list_item {
      list-style: none;
      float: left;
      margin-right: 30px;
      text-transform: uppercase;
  }
  .nav-link {
    text-decoration: none;
    font-family: var(--nav-foot-cart-font);
    font-size: 14px;
    color: var(--nav-color);
    font-weight: 700;
  }

  .nav-link:hover {
    color: var(--highlight-hover-color);
  }

  .nav-list_item:last-child {
    margin-right: 0;
  }

  .banner {
    width: 1600px;
    margin: 0 auto; 
    position: relative;
  }

  .banner-img_cont { 
    position: relative;
  }
  
  .banner-img {
    display: block;
    height: 600px;
  }

  .banner-overlay {
      position: absolute;
      float: left;
      top: 0;
      left: 0;
      background-color: var(--banner-product-over);
      text-align: center;
      width: 1600px;
      padding-top: 95px;
      display: none;
      height: 600px;
      padding: 200px 0;
      
    }

    .banner-btn {
      display: inline-block;
      border: none;
      background-color: var(--ban-btn-color);
      color: var(--headbg-txt-main-imgbg-color);
      cursor: pointer;
      font-size: 60px;
      width: 104px;
      height: 105px;
      text-align: center;
    }

    .banner-btn:hover {
      background-color: var(--highlight-hover-color);
    }

.arrow-left {
  display: inline-block;
  float: left;
  list-style: none;
  margin-left: 245px;
}

.arrow-right {
  display: inline-block;
  margin: 0;
  float: right;
  list-style: none;
  margin-right: 245px;
}

.banner-text {
  display: inline-block;
  list-style: none;
  text-align: justify;
  font-family: var(--title-font);
}

  .title {
    color: var(--headbg-txt-main-imgbg-color);
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: -3px;
  }

.choice {
  color: var(--headbg-txt-main-imgbg-color);
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: -1px;

}

  .banner:hover .banner-overlay {
    display: block;
  } 

  .info-section_wrapper {
    background-color: var(--main-section-bg-color);
    width: 1600px;
    margin: 0 auto; 
    height: 675px;
  }

  .info-section {
    padding: 20px;
  }

  .product-list {
    width: 1100px;
  }

  .info-section_title {
    margin: 100px 0 32px 0;
    text-align: center;
    font-size: 48px;
    font-family: var(--title-font);
    text-transform: uppercase;
    color: var(--foot-name-logo-title-color);
  }

  .info-section_title:after {
    content: "";
    border-bottom: 7px solid var(--highlight-hover-color);
    display: block;
    width: 164px;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 80px;
  }
  .product-list_item {
    list-style: none;
    float: left;
    margin-right: calc((1100px - 1020px) /3);
  }

  .product-list_item:last-child {
    margin-right: 0;
  }

  .name {
    color: var(--headbg-txt-main-imgbg-color);
    background-color: var(--foot-name-logo-title-color);
    font-family: var(--title-font);
    text-decoration: none;
    text-transform: uppercase; 
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    width: 201px;
    display: inline-block;
    padding-left: 14px;
    margin: 0 auto;
    float: left;
    height: 40px; 
}

.cost {
    color: var(--headbg-txt-main-imgbg-color);
    background-color: var(--cost-bg-color);
    font-family: var(--title-font);
    text-decoration: none;
    text-transform: uppercase; 
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    width: 54px;
    display: inline-block;
    text-align: center;
    height: 40px;
}
.product-img_cont { 
  position: relative;
}

.product-img {
  display: block;
}

.product-overlay {
  position: absolute;
  text-align: center;
  float: left;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  background-color: var(--banner-product-over);
  margin: 12px 12px;
  display: none;
  padding: 80px 0;
}



.product:hover .product-overlay {
  display: block;
}

.product:hover .name-cost {
  background-color: var(--highlight-hover-color);
}

.button {
  display: inline;
  border: 1px solid var(--headbg-txt-main-imgbg-color);
  background-color: transparent;
  color: var(--headbg-txt-main-imgbg-color);
  cursor: pointer;
  font-size: 20px;
  width: 53px;
  height: 53px;
  text-align: center;
 
}

.button:hover {
  background-color: var(--highlight-hover-color);
}

.cart {
  display: inline-block;
  background-color: var(--foot-name-logo-title-color);
  margin: 8px 0;
  height: 50px;
  color: var(--headbg-txt-main-imgbg-color);
  cursor: pointer;
  width: 166px;
}

.fa-shopping-cart {
margin-right: 10px;
/* font-size: 20px; */
/* display: inline-block; */
display: inline-block;
  font-size: 14px; 
  text-transform: uppercase;
  text-decoration: none;
  color: var(--headbg-txt-main-imgbg-color);
  text-align: center;
  cursor: pointer;
}

/* .add-to-card {
  display: inline-block;
  font-size: 14px; 
  text-transform: uppercase;
  text-decoration: none;
  color: var(--headbg-txt-main-imgbg-color);
  text-align: center;
  cursor: pointer;
} */

.product:hover .name {
  background-color: var(--highlight-hover-color);
}

.product:hover .cost {
  background-color: var(--prod_hover-cost);
}

.footer {
  height: 90px;
  width: 1600px;
  text-align: center;
  background-color: var(--foot-name-logo-title-color);
  color: var(--headbg-txt-main-imgbg-color);
  margin: 0 auto;
}

.info {
  padding: 40px;
  font-size: 16px; 
  font-family: var(--nav-foot-cart-font);
  font-weight: 400;
}

.colortext {
  color: var(--highlight-hover-color);
}