:root {
    --title-font: "Roboto", serif, sans-serif;
    --nav-foot-cart-font: 'Open Sans', sans-serif;

    --highlight-hover-color: #1abc9c;
    --main-section-bg-color: #e9f0fd;
    --foot-name-logo-title-color: #323232;
    --nav-color: #0f0101;
    --headbg-txt-main-imgbg-color: #ffffff;
    --banner-product-over: rgba(0, 0, 0, 0.55);
    --cost-bg-color: rgb(50, 50, 50, 0.44);
    --ban-btn-color: rgb(26, 188, 156, 0.65); 
    --prod-hover-cost: rgb(255, 255, 255, 0.44);
}