* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  body{
    font-family: 'Playfair Display', serif;
  }
  .wrapper {
    width: 900px;
    margin: 0 auto;
  }
  .header {
    padding: 20px 0 20px 0;
    margin: 20px 0 50px 0;
  }
  
  main {
    margin: 0 0 70px 0;
  }

  /* li {
    list-style-type: none; 
   } */

   .nav-list {
    text-align: center;
  }
  .subtitle {
    margin: 35px 0 38px 0;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    color: #c7c1b6;
    text-transform: uppercase;
  }
  
  .list-item {
    list-style: none;
    display: inline-block;
    margin: 0 100px 0 0;
  }
  .list-item:nth-child(0n+4) {
    margin-right: 0px;
  }
  .nav-link:hover {
    color: #9addfb;
  }
  
  .nav-link {
    text-decoration: none;
    color: #626262;
    font-size: 14px;
    text-transform: uppercase;
    
    
  }
  .article_item {
    font-size: 14px;
    list-style: none;
    display: inline-block;
    width: 420px;
    color: #626262;
    margin: 0 0 60px 0;
    text-align: justify;
    line-height: 1.5em;
  }
  h3{
    word-spacing: -0.1em;
    font-size: 30px;
    font-weight: normal;
    margin: 0 0 45px 0;
    color: #626262;
  }

  .article_item-r {
    margin-right: 60px;
  }

  .article-title,
.article-text {
  margin: 15px 0 20px 0;
}

.article_list {
  font-size: 0;
}

.sublist-item {
  list-style: none;
  margin: 0 0 15px 0;
}

.new {
  margin: 0 auto;
  display: block;
  width: 165px;
  height: 60px;
  font-size: 20px;
  text-align: center;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid grey;
  color: #626262;
}